{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Saluda {% endblock %}

{% block body %}

<h1>¡Hola {{ persona | capitalize }}!</h1>

    {% block lista %}
            <ul>
                {% for numero in datos %}
                    <li>{{ numero }}</li>
                {% endfor %}
            </ul>
    {% endblock %}

{% endblock %}

